/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON ------------------------------------------------------------------- */

:root{
    --border: 1px dashed black;
    /* header colors */
    --Hpink:#EE82EE;
    --Hblue:#00008B;
    --Horange:#DAA520;
    --Hazure:#ADD8E6;
    /* main colors*/
    --Mpink: #FFC0CB;
    --Mblue:#1E90FF;
    --Mgreen:#228B22;
    --Mgrey:#D3D3D3;
    /* footer colors */
    --Fpink:#FFB6C1;
    --Fazure:#20B2AA;
    --Fsalmon:#F08080;
    --Faqua:#7CF8CE;

    /*  Wrappers heights */
    --height-HM: 220px;
    --height-M: 250px;
    --height-M2: 400px;
    --height-F: 280px;

}

body{
    font-size: 10px;
}
section{
    display: flex;
    justify-content: center;
    /* debug */
   
}
.main-section1{
    background-color: var(--Mgrey);
}

.wrapper{
    width: 60%;
    margin: 0 auto;
}

.wrapper-header-main{
    height: var(--height-HM);
    width: 60%;
    padding: 1.5rem 0 ;
    /* debug */
   
}
.wrapper-main{
    display: flex;
    height: var(--height-M);
    width: 60%;
    margin: 1rem auto;
    
}
.wrapper-main1{
    display: flex;
    flex-direction: row-reverse;
    height: var(--height-M);
    width: 60%;
    margin: 1rem auto;
   
}

.wrapper-main2{
    display: flex;
    height: var(--height-M2);
    width: 60%;
    margin: 1rem auto;
}


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    background-color: inherit;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 10px;
}
/* Header section -------------------------------------------------------------*/

.header-nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    /* debug */
    background-color: var(--Hazure);
    
}

.navbar{
    height: 20px;
    display: flex;
    align-items: center;
    /* debug */
    background-color: var(--Horange);
    border: var(--border);
    
}

.logo{
    line-height: 20px;
    padding-left: 0.2rem;
    width: 20%;
    /* debug */
    border-right: var(--border);
    
}

.navbar li{
    display: inline-block;
    margin-right: 5px;

}

.navbar .links{
    line-height: 20px;
    text-align: center;
    width: 60%;
    /* debug */
    border-right: var(--border);
    border-left: var(--border);
}
.login{
    line-height: 20px;
    width: 20%;
    text-align: right;
    padding-right: 0.3rem;
    /* debug */
    border-left: var(--border);
    
}

/* /HeaderNavbar Styling------------------------------------------------------------- */

/* Main-Header Styling --------------------------------------------------------------- */
.main-header{
    background-color: var(--Hblue);
}

.box1{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    /* debug */
    background-color: var(--Hpink);
    border: var(--border);
}

header hr{
    border: none;
    height: 2px;
    background-color:var(--Hazure)
}

/* MAIN styling ------------------------------------------------------------------------- */

/* first section with 3 rows */
.box2{
    background-color: var(--Mblue);
    width: 100%;
    /* debug */
    border: var(--border);
}
.box3{
    background-color: var(--Mpink);
    width: 55%;
    /* debug */
    border: var(--border);
}

/* second section with bigger row */

.box4{
    width: 100%;
    background-color: var(--Mgreen);
    /* debug */
    border: var(--border);
}

