/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */

:root{
    --border: 1px dashed black;
    /* header colors */
    --Hpink:#EE82EE;
    --Hblue:#00008B;
    --Horange:#DAA520;
    --Hazure:#ADD8E6;
    /* main colors*/
    --Mpink: #FFC0CB;
    --Mblue:#1E90FF;
    --Mgreen:#228B22;
    --Mgrey:#D3D3D3;
    /* footer colors */
    --Fpink:#FFB6C1;
    --Fazure:#20B2AA;
    --Fsalmon:#F08080;
    --Faqua:#7CF8CE;

}
section{
    display: flex;
    justify-content: center;
}
.wrapper{
    width: 60%;
    margin: 0 auto;
    
    
}

.wrapper-main{
    height: 300px;
    width: 60%;
    /* debug */
    border: var(--border);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    background-color: inherit;
    text-decoration: none;
    border: none;
}
/* Header section */

.header-nav{
    display: flex;
    align-items: center;
    background-color: var(--Hazure);
    width: 100%;
    height: 50px;
    padding: 0.3rem 0;
}

.navbar{
    display: flex;
    /* debug */
    background-color: var(--Horange);
}

.logo{
    width: 20%;
    border: var(--border);
   
}
.navbar li{
    display: inline-block;
    margin-right: 5px;
}

.navbar .links{
    text-align: center;
    width: 60%;
    /* debug */
    border: var(--border);
}
.login{
    width: 20%;
    text-align: right;
    /* debug */
    border: var(--border);
}

/* /HeaderNavbar Styling */

/* MainHeader Styling */
.main-header{
    background-color: var(--Hblue);
}
